.section-anime-movil {
    display: none;

    @include mixinMediaQueryWidth(mqW12) {
        display: flex;
    }
}

.anime-movil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-movil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.carrousel-titulo-movil {
    display: flex;
}

.carrousel-titulo-img{
    display: flex;
    justify-content: center;
}

.botones-movil {
    display: flex;
    justify-content: center
}