.section-anime-pc {
    display: flex; 

    flex-direction: column;
}

.carrousel {
    display: flex;
}

.carrousel-slide {
    display: flex;
}

.anime {
    display: flex;

    flex-direction: column;

    @include mixinMediaQueryWidth(mqW12) {
        align-items: center;
    }
}

.frame {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mixinMediaQueryWidth(mqW12) {
        justify-content: flex-end;
    }
}

.carrousel-titulo {
    display: flex;

    align-items: center;
}

.titulo{
    display: flex;

    justify-content: center;
}

/* Propiedad utilizada en el Carrousel de la Página de Inicio, dandole forma a los textos que indican a que pertenece la obra mostrada. */
.pertenece {
    display: flex;

    justify-content: center;
}

.descripciones {
    display: flex;
    justify-content: center;
}

.description  {
    text-align: center;

    /* Despues de cierto tamaño, oculto las descripciones o sinopsis para ocupar menos espacio y dejar solo el título. */
    @include mixinMediaQueryWidth(mqW1) {
        display: none;
    }
}

.caja-comenzar {
    display: flex;
    justify-content: center;
}

.img-play {
    display: flex;
}

.botones {
    /* En el contenedor inicial, necesito alinear los botones a la izquierda y al final. */
    justify-self: start;
    align-items: end;

    /* Despues al cambiarse a la resolución de móvil, ya no necesito que esten pegados a la izquierda, y los necesito en medio y debajo de los titulos. */
    @include mixinMediaQueryWidth(mqW12) {
        display: flex;
        justify-content: center
    }
}

