.header {
    display: flex;
    align-items: center;
}

.text {
    text-align: center;
}

.buscador {
    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    @include mixinMediaQueryWidth(mqW3) {
        display: none;
    }
}

.botones-nav {
    display: flex;
}

.header-button {
    display: flex;

    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.header-button-active {
    display: flex;

    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    /* Al ser el botón activo, o es decir, el botón que va a resaltar, voy a tardar más en ocultarlo. */
    @include mixinMediaQueryWidth(mqW13) {
        display: none;
    }
}

.login-button {
    display: flex;

    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.login-button-active {
    display: flex;

    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    /* Al ser el botón activo, o es decir, el botón que va a resaltar, voy a tardar más en ocultarlo. */
    @include mixinMediaQueryWidth(mqW13) {
        display: none;
    }
}

.sign-up-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.sign-up-button-active {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Va a llegar cierto punto de ruptura, en el que voy a ocultar este elemento. */
    /* Al ser el botón activo, o es decir, el botón que va a resaltar, voy a tardar más en ocultarlo. */
    @include mixinMediaQueryWidth(mqW13) {
        display: none;
    }
}

.user-functions {
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

.search-bar {
    display: flex;
    
    align-items: center;
}

