.header {
    display: flex;
    align-items: center;
}

.text {
    text-align: center;
}

.buscador {
    @include mixinMediaQueryWidth(mqW3) {
        display: none;
    }
}

.botones-nav {
    display: flex;

    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-button-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.sign-up-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixinMediaQueryWidth(mqW6) {
        display: none;
    }
}

.user-functions {
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    align-items: center;
}

