.section-updates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-updates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    
}

.cont-manga {
    display: flex;
}

.texts-update {
    display: flex;
    flex-direction: column;
}