.sec-new-anime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yesterday,
.today {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

.episode {
    display: flex;
}

.texts-episode {
    display: flex;
    flex-direction: column;
}