.sec-new-anime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yesterday,
.today {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    @include mixinMediaQueryWidth(mqW11) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.episode {
    display: flex;
}

.texts-episode {
    display: flex;

    flex-direction: column;

    justify-content: center;
}

.more-details{
    display: flex;

    justify-content: space-between;
}

.repro {
    display: flex;

    align-items: center;
}