.seccion-new-manga {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-new-anime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-title {
    align-self: flex-start;
}

.frame-new-manga {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/5) - 30px);

    @include mixinMediaQueryWidth(mqW3) {
        grid-auto-columns: calc((100%/4) - 30px);
    }

    @include mixinMediaQueryWidth(mqW8) {
        grid-auto-columns: calc((100%/3) - 30px);
    }

    @include mixinMediaQueryWidth(mqW12) {
        grid-auto-columns: calc((100%/2) - 30px);
    }
}

.frame-new-anime {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/5) - 30px);

    @include mixinMediaQueryWidth(mqW3) {
        grid-auto-columns: calc((100%/4) - 30px);
    }

    @include mixinMediaQueryWidth(mqW8) {
        grid-auto-columns: calc((100%/3) - 30px);
    }

    @include mixinMediaQueryWidth(mqW12) {
        grid-auto-columns: calc((100%/2) - 30px);
    }
}

.text-new-title {
    text-align: center;
}