.seccion-manga {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-manga {
    display: flex;
}

.textos {
    display: flex;
    flex-direction: column;
}

.titulo-manga {
    display: -webkit-box;
}

.desc-manga {
    display: -webkit-box;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.botones-manga {
    display: flex;
}