.section-updates {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.frame-update {
    display: grid;

    /* Para las actualizaciones de los mangas, lo he separado en 4 columnas en un principio, y segun va reduciendose el tamaño de la pantalla,
    voy reduciendo la cantidad de columnas, hasta solo que quede una. */
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include mixinMediaQueryWidth(mqW21) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include mixinMediaQueryWidth(mqW22) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include mixinMediaQueryWidth(mqW11) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.cont-update {
    display: grid;
}

.manga-update {
    display: flex;
}

.manga-update-texts {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
}

/* Uso display: -webkit-box para poder usar la propiedad de line-clamp, y así limitar las lineas de texto puede tener un contenedor. */
.manga-update-title {
    display: -webkit-box;
}

.manga-update-cont-chapter {
    display: flex;
    
    /* Normalmente utilizo, la propiedad de space-between, para hacer que los dos elementos en el contenedor se ponga cada uno en una punta de este mismo, y asi
    ocupar todo, o casi todo el espacio utilizado. */
    justify-content: space-between;
}

/* Uso display: -webkit-box para poder usar la propiedad de line-clamp, y así limitar las lineas de texto puede tener un contenedor. */
.manga-update-chapter {
    display: -webkit-box;
}

.manga-update-cont-author {
    display: flex;
    
    /* Normalmente utilizo, la propiedad de space-between, para hacer que los dos elementos en el contenedor se ponga cada uno en una punta de este mismo, y asi
    ocupar todo, o casi todo el espacio utilizado. */
    justify-content: space-between;
}

/* Uso display: -webkit-box para poder usar la propiedad de line-clamp, y así limitar las lineas de texto puede tener un contenedor. */
.manga-update-author {
    display: -webkit-box;
}

/* Uso display: -webkit-box para poder usar la propiedad de line-clamp, y así limitar las lineas de texto puede tener un contenedor. */
.manga-update-time {
    display: -webkit-box;
}