/* Este contenedor va a contener las imagenes que se van a usar de fondo en la página de inicio y manga en su primera sección. */
.contenedor-carrousel {
    width: 100%;
    height: auto;

    position: relative;
    /* Para que se ponga detras de los elementos, le voy a dar un orden menor para que este atras. */
    z-index: -1; 
}
  
.carrousel {
    img {
        width: 100%;
        height: auto;
    }
}
  
.carrousel-slide {
    width: 100%;
}
  
.anime {
    width: 90%;

    position: absolute;

    /* Como las imagenes del fondo van a tener un orden menor, el contenedor que va a estar por encima, va a tener un orden mayor. */
    z-index: 0;

    @include mixinMediaQueryWidth(mqW12) {
        width: 100%;
        height: auto;
    }
}

.titulo-anime {
    margin-top: 3.334%;
    margin-left: 5.556%;
    margin-bottom: 0.5%;
  
    font-family: $Arvo;
    font-weight: 700;
    font-size: 55px;

    color: $grey_3;

    letter-spacing: -0.5px;
    line-height: 50px;

    @include mixinMediaQueryWidth(mqW2) {
        font-size: 50px;
        line-height: 36px;
        margin-left: 6.5%;
    }

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 45px;
        line-height: 36px;
        margin-left: 7%;
    }

    @include mixinMediaQueryWidth(mqW11) {
        margin-top: 2.334%;

        font-size: 40px;
    }

    /* Cuando llega al punto de ruptura del tamaño del móvil, al titulo lo cambio de lugar, posicionandolo arriba a la izquierda,
    añadiendole un color de fondo para que se distinga de las imagenes de fondo para el movil. */
    @include mixinMediaQueryWidth(mqW12) {
        font-size: 45px;
        
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 68%;
    
        align-self: flex-start;

        background: $black;

        padding: 3%;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 40px;

        margin-bottom: 64%;
    }
}
  
.frame {
    width: 40%;

    margin-left: 3%;

    border-radius: 39px;
    /* El fondo del contenedor, en vez de ser de un color, le añado un degardado. */
    background: linear-gradient(180deg, rgb(236, 236, 236) 50%, rgba(236, 236, 236, 0) 100%);

    @include mixinMediaQueryWidth(mqW9) {
        border-radius: 20px;
    }

    /* En el punto de ruptura del tamaño de la pantalla de móvil, cambio su tamaño, a que ocupe el 100%, y le quito su fondo. */
    @include mixinMediaQueryWidth(mqW12) {
        width: 100%;
        height: 100%;

        background: none;
        border-radius: 0px;
        margin-left: 0%;
    }
}
  
.carrousel-titulo {
    width: auto;

    img {
        width: 55%;

        @include mixinMediaQueryWidth(mqW12) {
            width: 85%;
        }
    }
}
  
.titulo {
    width: 100%;

    padding-top: 4%;
    padding-bottom: 4%;
}

/* Esta propiedad es utilizada solo en la página de Inicio. */
/* Le da forma al contenedor que va a tener el texto donde va a indicar si la obra mostrada pertenece al Anime o al Manga. */
.pertenece {
    width: 84%;

    padding-bottom: 2%;
}

/* Esta propiedad es utilizada solo en la página de Inicio. */
.observable  {
    font-family: $Lato;
    font-weight: 900;
    font-size: 16px;

    color: $grey_2;

    letter-spacing: -0.16px;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 10px;
    }

    /* Al contrario que las descripciones o sinopsis, estos textos, se ocultan más tarde, cuando llegua al punto de ruptura de la pantalla de móvil. */
    @include mixinMediaQueryWidth(mqW12) {
        display: none;
    }
}

.descripciones {
    width: 84%;

    padding-bottom: 2%;
}
  
.description  {
    font-family: $Lato;
    font-weight: 400;
    font-size: 16px;

    color: $grey_2;

    letter-spacing: -0.16px;
    line-height: 25.6px;
}
  
.caja-comenzar {
    width: 90%;
    height: 4%;

    background-color: $pink;
    border-radius: 12px;

    overflow: hidden;
}
  
.texto-comenzar {
    font-family: $Lato;
    font-weight: 700;
    font-size: 16px;

    color: $black;
    white-space: nowrap;

    letter-spacing: -0.16px;
    line-height: 25.6px;
    
    background-color: $pink;
    border: solid 0px;
  
    padding-top: 3%;
    padding-bottom: 3%;

    @include mixinMediaQueryWidth(mqW12) {
        font-size: 16px;
    }
}

.img-play {
    @include mixinMediaQueryWidth(mqW12) {
        width: 7%;
    }
}
  
.botones {
    width: 85%;

    margin-top: 2%;
    margin-bottom: 5%;

    @include mixinMediaQueryWidth(mqW12) {
        width: 100%;
    }
}