.seccion-new-anime,
.seccion-new-manga {
    position: relative;

    margin-top: 2%;
}

.cont-title {
    margin-bottom: -0.5%;

    width: 1550px;

    @include mixinMediaQueryWidth(mqW20) {
        width: 95%;
    }

    @include mixinMediaQueryWidth(mqW9) {
        margin-bottom: -1%;
    }
}
  
.new-title {
    font-family: $Arvo;
    font-weight: 400;
    font-size: 42px;

    color: $grey_2;
    
    letter-spacing: -0.5px;
    line-height: 40px;

    right: 10px;

    @include mixinMediaQueryWidth(mqW2) {
        font-size: 34px;
        line-height: 34px;
    }

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 32px;
        line-height: 32px;
    }

    @include mixinMediaQueryWidth(mqW12) {
        font-size: 32px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 30px;
    }

    @include mixinMediaQueryWidth(mqW14) {
        font-size: 30px;
    }

    i {
        font-size: 50px;

        @include mixinMediaQueryWidth(mqW14) {
            font-size: 40px;
        }
    }
}

.not-cards {
    margin-bottom: 0.5%;
}
  
.frame-new-anime, 
.frame-new-manga {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    width: 1550px;
  
    background-color: $black;
    border-radius: 10px;

    @include mixinMediaQueryWidth(mqW20) {
        width: 95%;
    }
}
  
.cards {
    scroll-snap-align: start;
    list-style: none;
  
    width: auto;
    padding: 12%;
}
  
.img-new-title {
    width: 100%;

    @include mixinMediaQueryWidth(mqW12) {
        width: 110%;
    }
}

.last {
    margin-right: 16%;
}
  
.flecha {

    color: $grey_2;
  
    i {
        font-size: 55px;

        @include mixinMediaQueryWidth(mqW2) {
            font-size: 45px;
        }

        @include mixinMediaQueryWidth(mqW13) {
            font-size: 40px;
        }
    }
}

.figure {
    height: 20px;
    width: 10px;

    border-radius: 10px;
    background-color: $white;

    margin-left: 3%;
    margin-right: 3%;
}
  
.text-new-title {
    font-family: $Lato;
    font-weight: 400;
    font-size: 16px;

    color: $white;
    
    letter-spacing: -0.16px;
    line-height: 20.6px;

    white-space: nowrap;

    margin-bottom: -10%;
    margin-top: 4%;

    @include mixinMediaQueryWidth(mqW12) {
        display: none;
    }
}