.header {
    width: 100%;
    height: 65px;

    background-color: $grey_2;
}

.text {
    font-family: $Lato;
    font-weight: 900;
    font-size: 16px;
  
    color: $white;
}

.logotype {
    width: 168px;
    height: 42px;

    margin-left: 3%;
    margin-right: 2%;
}

/* Estos son los botones de Manga y Anime. */
.header-button {
    width: 80px;
    height: 65px;
    
    background-color: $grey_2;
    text-decoration: none;

    transition:.4s ease;

    &:hover {
        background-color: $pink;
    }
}

/* Estos mismos botones se les van a cambiar el color del fondo, cuando esten en su sección, para así resaltar que esta en esa sección. */
.header-button-active {
    width: 80px;
    height: 65px;
    
    background-color: $pink;
    text-decoration: none;

    transition:.4s ease;
}

.user-functions {
    width: 100%;
}

.search-bar {
    width: 260px;
    height: 40px;

    background-color: $white;

    border-radius: 20px;
    border: 1px solid;
    border-color: $grey_1;

    /* Cuando llega a cierto punto de ruptura, el buscador se encoje y solo deja el icono de la lupa. */
    @include mixinMediaQueryWidth(mqW3) {
        width: 40px;
        height: 40px;
    }

    /* Si no pongo la media query aquí, no la coge. Por alguna extraña razón. */
    /* Como, con muchos elementos más, este se ocultará cuando llegue a cierto tamaño o punto de ruptura. */
    @include mixinMediaQueryWidth(mqW5) {
        display: none;
    }
}

.buscador {
    font-family: $Lato;
    font-weight: 900;
    font-size: 14px;
  
    color: $grey_2;

    border: 2px solid $grey_2;

    margin-top: 1px;
}

.lupa {
    margin-left: 6px;
    margin-right: 16px;
    
    width: 25px;
    height: 25px;
}

.login-button {
    width: 80px;
    height: 65px;

    margin-left: 20px;

    background-color: $grey_2;
    text-decoration: none;

    transition:.4s ease;

    &:hover {
        background-color: $pink;
    }

    @include mixinMediaQueryWidth(mqW6) {
        margin-left: 0%;
    }
}

/* Este botón se le van a cambiar el color del fondo, para así resaltar que esta en esa sección. */
.login-button-active {
    width: 80px;
    height: 65px;

    margin-left: 20px;

    text-decoration: none;
    background-color: $pink;
  
    transition:.4s ease;

    @include mixinMediaQueryWidth(mqW6) {
        margin-left: 0%;
    }

}

.sign-up-button {
    width: 80px;
    height: 65px;

    margin-right: 4%;
  
    background-color: $grey_2;
    text-decoration: none;
    transition:.4s ease;

    &:hover {
        background-color: $pink;
    }

    @include mixinMediaQueryWidth(mqW6) {
        margin-right: 0%;
    }
}

/* Este botón se le van a cambiar el color del fondo, para así resaltar que esta en esa sección. */
.sign-up-button-active {
    width: 80px;
    height: 65px;

    margin-right: 4%;
    
    background-color: $pink;
    text-decoration: none;
    transition:.4s ease;

    @include mixinMediaQueryWidth(mqW6) {
        margin-right: 0%;
    }
}