.frame-updates {
    width: 95%;
    background-color: $grey_2;
    border-radius: 39px;

    grid-column-gap: 6px;
    
    @include mixinMediaQueryWidth(mqW9) {
        border-radius: 20px;
    }
}

.cont-manga {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;

    @include mixinMediaQueryWidth(mqW16) {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
    }
}

.img-manga-update {
    width: 30%;

    @include mixinMediaQueryWidth(mqW16) {
        width: 20%;
    }
}

.texts-update {
    padding-left: 5%;
}

.title-update {
    font-family: $Arvo;
    font-weight: 700;
    font-size: 32px;

    color: $white;
    letter-spacing: -0.36px;

    padding-bottom: 16px;

    @include mixinMediaQueryWidth(mqW12) {
        font-size: 20px;
    }
}

.chapter-update {
    font-family: $Lato;
    font-weight: 400;
    font-size: 20px;

    color: $white;

    letter-spacing: -0.16px;
    line-height: 25.6px;
}

.author-update{
    font-family: $Lato;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;

    color: $white;

    letter-spacing: -0.16px;
    line-height: 25.6px;

    padding-top: 8px;
}