.sec-new-anime {
    position: relative;

    margin-top: 2%;
}

.frame-sec-new-anime {
    /* Este contenedor tiene un tamaño determinado, para no ocupar la totalidad de la pantalla, ya que ocuparía
    toda la pantalla, cuando se puede comprimir. */
    width: 1550px;

    padding-top: 0.5%;
    padding-bottom: 1%;

    background-color: $grey_2;
    border-radius: 10px;

    grid-column-gap: 6px;
    
    /* Despues de cierto punto de ruptura, deja de tener un tamaño predeterminado, y empieza a ocupar un porcentaje,
    que se puede ir reduciendo al ir reduciendo el tamaño de la pantalla. */
    @include mixinMediaQueryWidth(mqW20) {
        width: 95%;
    }
}

.adverb {
    padding-left: 1.2%;
    margin-bottom: 1%;
  
    font-family: $Arvo;
    font-weight: 400;
    font-size: 38px;

    border-bottom: 3px solid $white;

    color: $white;
    
    letter-spacing: -0.5px;
    line-height: 58px;

    @include mixinMediaQueryWidth(mqW2) {
        font-size: 30px;
        padding-left: 3%;
    }

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 24px;
        padding-top: 0%;
    }

    @include mixinMediaQueryWidth(mqW12) {
        line-height: 54px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        line-height: 50px;
    }
}

.today,
.yesterday {
    @include mixinMediaQueryWidth(mqW13) {
        padding-top: 1%;
    }
}

.episode {
    margin-left: 2%;
    margin-right: 2%;

    padding: 2%;

    transition: all 0.5s ease;

    border-radius: 10px;

    &:hover{
        background-color: $grey_4;
    }

    @include mixinMediaQueryWidth(mqW16) {
        padding: 1.5%;

        margin-bottom: 0.5%;
    }
}

/* Tiene un tamaño automatico, debido a que las imagenes, ademas de tener ya un tamaño especifico, se van a ir controlando desde el html. */
.episode-img {
    width: auto;
}

.texts-episode {
    width: 100%;

    margin-left: 2%;
}

.title-episode {
    height: auto;

    font-family: $Arvo;
    font-weight: 400;
    font-size: 19px;

    color: $white;
    letter-spacing: -0.36px;

    transition: all 0.5s ease;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 16px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 14px;
    }
}

.num-episode {
    margin-top: 0.75%;

    font-family: $Lato;
    font-weight: 400;
    font-size: 17px;

    color: $pink;

    letter-spacing: -0.16px;
    line-height: 25.6px;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 16px;
        line-height: 20.6px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 14px;
    }
}

.more-details {
    width: 100%;
}

.more-text {
    font-family: $Lato;
    font-weight: 400;
    font-size: 17px;

    color: $pink;

    letter-spacing: -0.16px;
    line-height: 25.6px;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 15px;
        line-height: 20.6px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 12px;
    }
}

.duration-cap {
    font-family: $Lato;
    font-weight: 400;
    font-size: 17px;

    color: $pink;

    letter-spacing: -0.16px;
    line-height: 25.6px;

    padding-right: 4%;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 15px;
        line-height: 20.6px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 12px;
    }
}

.repro {
    margin-top: 1%;
}

.icon-play {
    font-size: 0px;

    margin-right: 2%;

    i {
        font-size: 45px;

        color: $pink;

        @include mixinMediaQueryWidth(mqW9) {
            font-size: 35px;
        }

        @include mixinMediaQueryWidth(mqW13) {
            font-size: 25px;
        }
    }
}

.rep-ep {
    font-family: $Lato;
    font-weight: 900;
    font-size: 17px;

    color: $pink;

    letter-spacing: -0.16px;
    line-height: 25.6px;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 15px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 14px;
    }
}