.manga {
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 1%;
  
    font-family: $Arvo;
    font-weight: 700;
    color: $grey_2;
    font-size: 88px;
    letter-spacing: -0.5px;
    line-height: 24px;

    @include mixinMediaQueryWidth(mqW2) {
        font-size: 72px;

        margin-left: 6%;
    }

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 70px;

        margin-left: 6%;
    }
    
    @include mixinMediaQueryWidth(mqW11) {
        font-size: 64px;
    }

    @include mixinMediaQueryWidth(mqW12) {
        margin-top: 7%; 

        font-size: 64px;
    }

    @include mixinMediaQueryWidth(mqW13) {
        font-size: 48px;
    }
    
}
  
.frame-manga {
    width: 95%;
    background-color: $grey_2;
    border-radius: 39px;

    @include mixinMediaQueryWidth(mqW9) {
        border-radius: 20px;
    }
}
  
.carrousel-manga {
    width: 20%;
    margin: 2.5% 2.5% 2.5% 2.5%;

    img {
        width: 100%;
    }

    @include mixinMediaQueryWidth(mqW2) {
        width: 25%;
    }

    @include mixinMediaQueryWidth(mqW4) {
        width: 40%;
    }

    @include mixinMediaQueryWidth(mqW12) {
        width: 65%;
    }
}
  
.imagen-manga {
    object-fit: cover;
}
  
.textos {
    width: 100%;
}
  
.titulo-manga {
    margin-top: 3%;
    margin-right: 2.5%;
  
    font-family: $Arvo;
    font-weight: 400;
    font-size: 48px;

    color: $white;
    letter-spacing: -0.36px;

    padding-bottom: 3%;

    @include mixinMediaQueryWidth(mqW2) {
        font-size: 44px;
        padding-bottom: 1%;
    }

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 36px;
    }

    @include mixinMediaQueryWidth(mqW12) {
        font-size: 28px;
    }

    @include mixinMediaQueryWidth(mqW14) {
        font-size: 20px;
    }
}
  
.desc-manga {
    margin-right: 5%;
  
    font-family: $Lato;
    font-weight: 400;
    font-size: 16px;

    color: $white;

    letter-spacing: -0.16px;
    line-height: 25.6px;
}
  
.bottom {
    height: 100%;
    margin-bottom: 3.5%;
}
  
.autores-manga {
    font-family: $Lato;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;

    color: $white;
    
    letter-spacing: -0.16px;
    line-height: 25.6px;

    margin-bottom: 1%;

    @include mixinMediaQueryWidth(mqW9) {
        font-size: 14px;
    }

    @include mixinMediaQueryWidth(mqW12) {
        font-size: 10px;
    }
}
  
.botones-manga {
    width: 85%;
}