.text-nav {
    font-family: $Lato;
    font-weight: 900;
    font-size: 16px;
  
    color: $white;
    line-height: 3.5;
}
  
.menu {
    border: solid 3px $pink;
    border-radius: 4px;
  
    width: 58px;
    height: 40px;

    margin-right: 38px;
    margin-left: 38px;
    margin-top: -0.5%;
  
    color: $white;
    background-color: $grey_2;

    font-size: 0px;
    
    i {
        font-size: 26px;
    }

    @include mixinMediaQueryWidth(mqW12) {
        margin-right: 20px;
        margin-left: 20px;
    }
}
  
.menu-desplegable {
    position: absolute;
    /* Como menu desplegable que necesito que aparezca, necesito que tenga un orden muy superior para que se ponga delante de cualquier cosa que
    tenga delante de la página. */
    z-index: 10;
    width: 30%;
    right: 0;
  
    background-color: $grey_2;
  
    transition: .4s ease;
    transform: translateX(100%);

    a:hover {
        transform: translateX(-10%);
    }

    li {
        width: 100%;
    
        border-bottom: 1px solid #eccacb;
    }

    @include mixinMediaQueryWidth(mqW10) {
        width: 45%;
    }
}
  
.botones-menu { 
    border: solid 0px black;
    background-color: var(--main-color);

    color: $white;
    text-decoration: none;
  
    padding-right: 10%;
  
    transition: .4s ease;
}
  
.aparecer {
    transform: translateX(0);
}